@{
  Layout = "_Layout";
}
<body>
<h1><u>Welcomed To Eau Claire's Salon</u></h1>

<div class="row">
<div class="col">
<button type="button" class="btn btn-danger btn-lg">@Html.ActionLink("Clients", "Index", "Clients")</button> 
</div>
<div class="col">
<button  type="button" class="btn btn-danger btn-lg">@Html.ActionLink("Stylist", "Index", "Stylists")</button>
</div>
</div>
</body>
